<!DOCTYPE HTML>

<html>
	<head>
		<title>AppVias</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/css/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{{=URL('static', 'assets/css/main.css')}}" />
		<link rel="stylesheet" href="{{=URL('static','assets/css/animation.css')}}"><!--[if IE 7]><link rel="stylesheet" href="css/fontello-ie7.css"><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie/v8.css" /><![endif]-->
		<!--[if lte IE 8]><script src="assets/css/ie/respond.min.js"></script><![endif]-->
	</head>
	<body class="landing">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" class="alt">
					<h1><a href="index.html">AppVias</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="index.html">Home</a></li>
							<li>    
								<a href="#" class="icon fa-angle-down">Contato</a>
<!-- 								<ul>
									<li><a href="generic.html">Generic</a></li>
									<li><a href="{{=URL('default', 'contact.html')}}">Contact</a></li>
									 <li><a href="{{=URL('default', 'elements.html')}}">Elements</a></li> 
									<li>
										<a href="#">Submenu</a>
										<ul>
											<li><a href="#">Option One</a></li>
											<li><a href="#">Option Two</a></li>
											<li><a href="#">Option Three</a></li>
											<li><a href="#">Option Four</a></li>
										</ul>
									</li>
								</ul> -->
							</li>
							<li><a href="#" class="button">Sign Up</a></li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">
					<img src="{{=URL('static', 'images', args='icone-appvias.png')}}" style="height:70px; weight:70px;" />
					<h2 style="font-family:'Arial Black', Gadget, sans-serif;">AppVias</h2>
					<p>Somos um aplicativo que te ajuda nas emergências.</p>
					<ul class="actions">
						<li><a href="#" class="button special">Sign Up</a></li>
						<!-- <li><a href="#" class="button">Learn More</a></li> -->
					</ul>
				</section>

			<!-- Main -->
				<section id="main" class="container">

					<section class="box special">
						<header class="major">
							<h2>Mais segurança, mais conforto, mais comodidade
							<br />
							para você e para toda a sua família</h2>
							<p>Imagine ter todos os números de emergência das Rodovias do Brasil em um só lugar!<br />
							</p>
						</header>
						<span class="image featured"><img src="{{=URL('static', 'images', args='pic01.jpg')}}" alt="" /></span>
					</section>

					<section class="box special features">
						<div class="features-row">
							<section>
								<span class="icon major fa-bolt accent2"></span>
								<h3>19 Mil Km</h3>
								<p>No Brasil, 19 mil km são privatizados. São mais de 50 Concessionárias espalhadas e cada uma com 1 número de atendimento diferente da outra, ainda temos 190, 191, 192, 193, 194, 197, 198 e por ai vai...</p>
							</section>
							<section>
								<span class="icon major fa-lock accent5"></span>
								<h3>Tudo em um só lugar</h3>
								<p>Com o AppVias, colocamos tudo em 1 só lugar. Utilizando a localização do GPS do seu Smartphone (Android ou iOS) iremos te informar: Latitude e Longitude, Concessionária, Posição no Mapa e o mais importante o número de Atendimento que melhor irá lhe atender..</p>
							</section>
						</div>
	<!-- 						<div class="features-row">
								<section>
									<span class="icon major fa-cloud accent4"></span>
									<h3>Conforto e Tranquilidade</h3>
									<p>Estamos prontos para dar segurança, tranquilidade e conforto nas sua viagens.</p>
								</section>
								<section>
									<span class="icon major fa-area-chart accent3"></span>
									<h3>Enim phasellus</h3>
									<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
								</section>
							</div> -->
					</section>

					<div class="row">
						<div class="6u 12u(narrower)">

							<section class="box special">
								<span class="image featured"><img src="{{=URL('static', 'images/pic03_B.jpg')}}" alt="" style="height:256px; weight:572px;"/></span>
								<h3>Siga o AppVias</h3>
								<p>Estamos no Twitter e Facebook também! Junte-se a nós.</p>
								<ul class="actions">
									<li><a href="#" class="button alt">Learn More</a></li>
								</ul>
							</section>

						</div>
						<div class="6u 12u(narrower)">

							<section class="box special">
								<span class="image featured"><img src="{{=URL('static', 'images/public-domain-images-free-high-quality-resolution-2014-02-25-0003.jpg')}}" alt="" style="height:256px; weight:572px;"/></span>
								<h3>Olhando o Futuro</h3>
								<p>Futuramente, em parceria com as concessionárias, o próprio aplicativo entra em contato com a emergência do local dando todas as referências e localização necessária para que o atendimento seja ráido, eficaz e sem traumas para você.</p>
								<ul class="actions">
									<li><a href="#" class="button alt">Learn More</a></li>
								</ul>
							</section>

						</div>
					</div>

				</section>

			<!-- CTA -->
				<section id="cta">

					<h2>Assine para receber em primeira mão o AppVias</h2>
					<p>Iremos disponibilizar nosso aplicativo para que você nos diga o que achou.</p>

					<form>
						<div class="row uniform 50%">
							<div class="8u 12u(mobilep)">
								{{=form}}
								<!-- <input type="email" name="email" id="email" placeholder="Email Address" /> -->
							</div>
							<div class="4u 12u(mobilep)">
								<input type="submit" value="Assinar" class="fit" />
							</div>
						</div>
					</form>

				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; AppVias. All rights reserved.</li>
						<!-- <li>Design: <a href="http://html5up.net">HTML5 UP</a></li> -->
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="{{=URL('static', 'assets/js/jquery.min.js')}}"></script>
			<script src="{{=URL('static', 'assets/js/jquery.dropotron.min.js')}}"></script>
			<script src="{{=URL('static', 'assets/js/jquery.scrollgress.min.js')}}"></script>
			<script src="{{=URL('static', 'assets/js/skel.min.js')}}"></script>
			<script src="{{=URL('static', 'assets/js/util.js')}}"></script>
			<script src="{{=URL('static', 'assets/js/main.js')}}"></script>

	</body>
</html>